<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

  		<title>{{app_name}}</title>
  		<meta name="description" content="The HTML5 Herald">
		<meta name="author" content="SitePoint">
		<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
    	<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
	</head>

	<body>

		<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="app-title display-4">{{app_name}}</h1>
			<p class="lead"></p>
		</div>

		<div class="container">

			<div class="card-deck mb-3 text-center">

				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Input data</h4>
					</div>
					<div class="card-body">

						<form class="form mt-2 mb-4">

							<div class="form-group">
								<label for="latitude">Latitude:</label>
								<input type="text" class="form-control" id="latitude" name="latitude" value="{{lat}}" required>
							</div>

							<div class="form-group">
								<label for="longitude">Longitude:</label>
								<input type="text" class="form-control" id="longitude" name="longitude" value="{{lng}}" required>
							</div>

							<div class="form-group">
								<label for="radius">Radius:</label>
								<input type="number" class="form-control" id="radius" name="radius" min="1" value="5" required>
							</div>
							
							<hr/>
							
							<button id="submit" type="button" class="btn btn-link">Submit</button>

						</form>

					</div>
				</div>

				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Map</h4>
					</div>
					<div class="card-body">
						<iframe id="map" data="{{api_key}}" width="500" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{lat}},+{{lng}}&key={{api_key}}" allowfullscreen></iframe>
					</div>

				</div>

			</div>
			
			<div id="result" style="display: none;" class="card-deck mb-2 text-center">

				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Result</h4>
					</div>
					<div class="card-body">
						<div id="myDiv"></div>
					</div>
				</div>

				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Result</h4>
					</div>
					<div class="card-body">
						<iframe id="map" data="{{api_key}}" width="500" height="450" frameborder="0" style="border:0" src="" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<footer class="pt-4 my-md-5 pt-md-5 border-top">	</footer>

		</div>
		
		<script src="/static/lib/jquery/jquery-3.4.0.min.js"></script>
        <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="/static/js/index.js"></script>

	</body>
</html>
