<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

  		<title>{{app_name}}</title>
  		<meta name="description" content="The HTML5 Herald">
		<meta name="author" content="SitePoint">
		<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
    	<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
	</head>

	<body>

		<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<img src="/static/images/medicine.png" width="10%">
			<h1 class="app-title display-4">{{app_name}}</h1>
			<p class="lead">Evolutionary computing solution</p>
		</div>

		<hr/>

		<div class="container-fluid">

			<div id="input" class="row">

				<div class="col-sm-6">


					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">- Input data</h4>
						</div>
						<div class="card-body">

							<form>
								<div class="row">
									
									<div class="col">
										<div class="form-group">
											<label for="latitude">Latitude:</label>
											<input type="text" class="form-control" id="latitude" name="latitude" value="{{lat}}" required>
										</div>
									</div>
									
									<div class="col">
										<div class="form-group">
											<label for="longitude">Longitude:</label>
											<input type="text" class="form-control" id="longitude" name="longitude" value="{{lng}}" required>
										</div>
									</div>

									<div class="col">
										<div class="form-group">
											<label for="radius">Radius:</label>
											<input type="number" class="form-control" id="radius" name="radius" min="1" value="1000" required>
										</div>
									</div>


								</div>

								<hr/>
								
								<div class="row">
									
									<div class="col">
										<div class="form-group">
											<label for="population">Population:</label>
											<input type="number" class="form-control" id="population" name="population" min="1" value="100" required>
										</div>
									</div>

									<div class="col">
										<div class="form-group">
											<label for="generation">Generations:</label>
											<input type="number" class="form-control" id="generation" name="generation" min="1" value="100" required>
										</div>
									</div>

									<div class="col">

										<div class="form-group">
											<label for="cxprob">Cx. Prob.:</label>
											<input type="number" class="form-control" id="cxprob" name="cxprob" min="0" max="1" value="0.5" step="0.01" required>		
										</div>

									</div>

									<div class="col">

										<div class="form-group">
											<label for="mtprob">Mut. Prob.:</label>
											<input type="number" class="form-control" id="mtprob" name="mtprob" min="0" max="1" value="0.5" step="0.01" required>		
										</div>

									</div>

								</div>
								
								<hr/>
								
								<button id="submit" type="button" class="btn btn-link">Submit</button>

							</form>

						</div>
					</div>

				</div>
				<div class="col-sm-6">

					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">- Map</h4>
						</div>
						<div class="card-body">
							<iframe id="map" data="{{api_key}}" width="100%" height="424" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{lat}},+{{lng}}&key={{gm_key}}" allowfullscreen></iframe>
						</div>

					</div>
				</div>

			</div>

			<div id="loader" style="display: none;"></div>

			<div id="result" style="display: none;">
				
				<p ><a id="back"><- back </a></p>
			
				<div class="row">

					<div class="col-sm-6">

						<div class="card mb-4 shadow-sm">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">- AVG Plot</h4>
							</div>
							<div class="card-body">
								<div id="avg-plot"></div>
							</div>
						</div>

					</div>

					<div class="col-sm-6">

						<div class="card mb-4 shadow-sm">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">- STD Plot</h4>
							</div>
							<div class="card-body">
								<div id="std-plot"></div>
							</div>
						</div>

					</div>

				</div>

				<div class="row">

					<div class="col-sm-6">
						<div class="card mb-4 shadow-sm">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">- Initial Population Map</h4>
							</div>
							<div class="card-body">
								<div id="init-map-plot"></div>
							</div>
						</div>

					</div>

					<div class="col-sm-6">

						<div class="card mb-4 shadow-sm">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">- Best Spot Map</h4>
							</div>
							<div class="card-body">
								<div id="map-plot"></div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<!-- <hr/> -->

			<footer id="footer" class="pt-4 my-md-5 pt-md-5 border-top" >
				<p>Paulo Branco.</p>
				<p>RTIA.</p>
				<p>Recife, 2019.</p>
			</footer>

		</div>
		
		<script src="/static/lib/jquery/jquery-3.4.0.min.js"></script>
        <script src="/static/lib/popper/popper.min.js"></script>
        <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="/static/js/index.js"></script>

	</body>
</html>
